@import "tailwindcss";

@plugin "daisyui"{
    themes: light --default;
};


@plugin "@tailwindcss/typography";

body{
  background-image:url("/bg2.jpg"), 

linear-gradient(
135deg,
    #fffefb 0%,
    #fcf8ec 35%,
    #f8efcf 70%,
    #f2dfa0 100%
);

  background-size: cover;

}