@import "tailwindcss";

@plugin "daisyui"{
    themes: light --default;
};


@plugin "@tailwindcss/typography";

body{
  background-image:
url("https://t3.ftcdn.net/jpg/20/07/46/98/240_F_2007469846_TtTAx4xg4sxTepHR1hmXECBI6FQ02kQO.jpg"),
linear-gradient(
135deg,
#fff9eb,
#ffd54f,
#ffc107
);

background-repeat:no-repeat;


background-size:
cover;
}